<html>
<head>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<div id="app-mount-point">
	</div>
	<script src="/public/build/bundle.js"> </script>
</body>
</html>